{
    "substitutions": [
        {
            "pattern": "chris",
            "flags": "ig",
            "replacement": "Miguel Maria Franco Picatoste"
        },
        {
            "pattern": "mary",
            "flags": "ig",
            "replacement": "Florencita Maria Bertotti"
        }
    ]
}
